.whole-products-page-container {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.product-sections {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
    max-width: 1110px;
}

.warning {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}